@import '../_lib/_color.css';

/*! Links -------------------------------------------------------------------*/
$link-color: $red;
$link-visited-color: $red;
$link-hover-color: $dark-red;
$link-active-color: $light-red;

a {
    @mixin default-transition;
    text-decoration: none;
    transition-property: color;
}

a:link {
    color: $link-color;
}

a:visited {
    color: $link-visited-color;
}

a:hover {
    color: $link-hover-color;
    outline: none;
}

a:active {
    color: $link-active-color;
}


a:focus {
    color: $link-hover-color;
    outline: none;
}