/*! Logo --------------------------------------------------------------------*/

@import '../_lib/_mixins.css';
@import '../_lib/_element-vars.css';

$logo-width: 7rem;
$border-width: 1px;
$border-color: $black-05;

.name { @mixin hidden-text; }

.logo {
    @mixin serif-font;
    width: $logo-width;
    height: $logo-width;
    border: $border-width solid $border-color;
    background-color: $black-07;
    border-radius: calc($logo-width/2);
    box-shadow: 0 0 0 2px $main-background-color,
                0 0 0 3px $black-02;
    display: block;
    font-weight: 400;
    margin: calc(-$logo-width / 2) auto 0;
    position: absolute;
    right: 0;
    left: 0;
    transition-duration: $default-duration;
    transition-property: background-color, transform, height;
    transition-timing-function: $default-ease;
    z-index: 101;

    &:after {
        color: white;
        content: 'j';
        font-size: calc($logo-width / 1.7);
        font-weight: 400;
        left: 46%;
        line-height: 0;
        opacity: 0;
        position: absolute;
        text-rendering: geometricPrecision;
        top: 45%;
        opacity: 0;
        transform: scale(.6, .85);
        transition-property: opacity scale;
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }

    &:hover {
        background: #000;
        cursor: pointer;
    }

    &.loaded{
        &:after {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}