/*! Logo --------------------------------------------------------------------*/

@import '../_lib/_mixins.css';
@import '../_lib/_element-vars.css';

$border-width: 1px;
$border-color: $black-05;

/* Hide the h1 */
.name { @mixin hidden-text; }

/* Logo styles */
.logo {
    @mixin serif-font;
    background-color: $black-07;
    border-radius: 50%;
    border: $border-width solid $border-color;
    box-shadow: 0 0 0 1px $background-color,
                0 0 0 3px $black-02;
    display: block;
    font-weight: 400;
    height: $logo-size;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: calc(-$logo-size / 2);
    $t: calc($slide-duration * 2);
      transition:
        background-color $default-duration $default-ease,
        opacity $default-duration $default-ease,
        transform $t $bounce-in;

    width: $logo-size;
    z-index: 101;

    &:after {
        color: white;
        content: 'j';
        font-size: calc($logo-size / 1.7);
        font-weight: 400;
        left: 46%;
        line-height: 0;
        position: absolute;
        text-rendering: geometricPrecision;
        top: 45%;
        transform: scale(1, 1);
        transition-property: opacity, transform;
        transition-duration: 1s 1s;
        transition-timing-function: ease-out;
    }

    &.logo-fade-in-appear:after {
        opacity: .01;
        transform: scale(.6, .85);
    }

    &.logo-fade-in-appear-active:after {
        opacity: 1;
        transform: scale(1, 1);
    }

    &:hover {
        background: #000;
        cursor: pointer;
    }

    &.active {
        &:hover {
            background-color: $black-07;
            cursor: default;
        }
    }
}