/* Animated hamburger icon
via http://callmenick.com/post/animating-css-only-hamburger-menu-icons */

.nav-toggle {
    background-color: transparent;
    bottom: 0;
    display: block;
    height: 24px;
    margin: auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: $grid-padding;
    top: 0;
    width: 18px;
    /*  Button overrides */
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
        background: transparent;

        & .inner {
            opacity: 1;
        }
    }
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle .inner {
    @mixin hidden-text;
    background-color: $darkest-gray;
    border-radius: 2px;
    display: block;
    height: 2px;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    opacity: .5;
    /* hover state*/
    transition: opacity .3s;
    animation: middle-show .6s forwards;
}

.nav-toggle .inner:before,
.nav-toggle .inner:after {
    background-color: $darkest-gray;
    border-radius: 2px;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
}

.nav-toggle .inner:before {
    transform: translateY(-7px);
    animation: top-from-x .6s forwards;
}

.nav-toggle .inner:after {
    transform: translateY(7px);
    animation: bottom-from-x .6s forwards;
}

/* active state, i.e. menu open */
.nav-toggle.is-active .inner {
    animation: middle-hide .6s forwards;
}

.nav-toggle.is-active .inner:before {
    animation: top-to-x .6s forwards;
}

.nav-toggle.is-active .inner:after {
    animation: bottom-to-x .6s forwards;
}

@keyframes middle-hide {
    0% {
        background-color: $darkest-gray;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes middle-show {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: $darkest-gray;
    }
}

@keyframes bottom-to-x {
    50% {
        transform: translateY(-0px);
    }
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes bottom-from-x {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: translateY(7px);
    }
}

@keyframes top-to-x {
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes top-from-x {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: translateY(-7px);
    }
}
