@import './_lib.css';
@import './_elements/nav-toggle.css';

/*! Nav ---------------------------------------------------------------------*/
$nav-link-padding: 1rem;
$nav-links-margin: 1rem;
$menu-icon-width: 24px;
$menu-icon-padding: $grid-padding * 2;
/* Move the nav links over to clear the toggle */
$nav-links-pad-right: calc( $menu-icon-width + $menu-icon-padding );


.nav {
    position: relative;
    width: 100%;
    background-color: $lightest-gray;
    border-bottom: $default-border;

    &.is-gramming {
        background-color: $white-08;

        &:before {
            background-color: transparent;
        }
    }

    /* narrow devices */
    &.mobile  {
        background-color: color(#EDEDED a(95%));
        position: fixed;
        height: 110vh;
        margin-top: -10vh;

        .nav-links {
            margin-top: 10vh;
            padding-top: 17.3rem;
        }
    }
}

.nav-toggle {
    position: fixed;
    right: $grid-padding;
    top: $grid-padding;
    z-index: 2;
}

.nav-links {
    text-align: center;
    @mixin clearfix;
    opacity: .9;
    padding-top: calc($logo-size * 2);
    padding-bottom: calc($logo-size / 2);
    position: relative;

    /* Shim behind the nav-links so that the bg doesn't show during bounce */
/*    &:before {
        background-color: $lightest-gray;
        content: '';
        position: absolute;
        top: -3rem;
        height: 6rem;
        width: 100%;
        left: 0;
    }*/
}

.nav-link {
    @mixin mono-font 1;
    line-height: 3;
    padding: $nav-link-padding;
    position: relative;
    text-rendering: geometricPrecision;

    @media (--fablet)  { line-height: 1.7; }

    @media (--laptop)  {
        float: right;
    }

    &.active {
        color: $darkest-gray;
    }
}