@import "../_lib.css";

/* Global Reset --------------------------------------------------------------*/
html { box-sizing: border-box; }

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Typography ---------------------------------------------------------------*/
a:focus { outline: none; }

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Images --------------------------------------------------------------------*/
img { font-style:italic; } /* if images don't load */

a img,
:link img,
:visited img { border: 0; } /* no borders on image links */

/* Forms ---------------------------------------------------------------------*/
input,
textarea,
button,
select {
    @mixin mono-font; /* override default browser font */
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

textarea {
    vertical-align: top;
    resize: none;
}

/* Remove default styling on inputs */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
    -webkit-appearance: none; /* Remove Default Browser Behaviour for Safari  */
    -moz-appearance: none;    /* Remove Default Browser Behaviour for Firefox */
}

/* defaultify search inputs */
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    margin: 0;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

.checkbox { margin: .2rem 0; }

/*Buttons*/
button,
select {
    vertical-align: baseline;
    *vertical-align: middle;

    /* remove default focus outline */
    &:active,
    &:focus { outline: none !important; }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; }

button[disabled],
html input[disabled] { cursor: default; }

/* Remove default focus state (ff) */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Chrome 33 Mac hack :( */
body {
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: kick-in-the-fonts;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.1s;
}

button:active,
button:focus { outline: none !important; }

/* Make selection color pretty */
/*::-moz-selection { color: black;  background: lighten($blue,50%); }
::selection { color: black;  background: lighten($blue,50%); }
*/