/*! Transitions --------------------------------------------------------------*/

$default-duration: .3s;
$default-ease: ease-out;
$bounce-in: cubic-bezier(0.160, 0.035, 0.240, 1.295);

@define-mixin default-transition {
    transition-duration: $default-duration;
    transition-timing-function: $default-ease;
}

$slide-duration: .3s;
