/*! Transitions --------------------------------------------------------------*/

$default-duration: .3s;
$default-ease: ease-out;
$bounce-in: cubic-bezier(0.160, 0.035, 0.240, 1.295);

@define-mixin default-transition {
    transition-duration: $default-duration;
    transition-timing-function: $default-ease;
}

$slide-duration: .3s;


/* fade-in -------------------------------------------------------------------*/
.fade-in-appear {
    opacity: .01;
    transition: opacity .5s ease-in;
}

.fade-in-appear-active {
    opacity: 1;
}

.fade-in-enter {
    opacity: .01;
    transition: opacity .5s ease-in;
}

.fade-in-enter-active {
    opacity: 1;
}

.fade-in-leave {
    opacity: .99;
    transition: opacity .5s ease-in;
}

.fade-in-leave-active {
    opacity: 0;
}


/* slide-in ------------------------------------------------------------------*/

.slide-in-appear {
    transform: translateY(-100%);
}

.slide-in-appear-active {
    transform: translateY(1%);
}

.slide-in-enter {
    transform: translateY(-100%);
}

.slide-in-enter-active {
    transform: translateY(1%);
}

.slide-in-leave {
    transform: translateY(0);
}

.slide-in-leave-active {
    transform: translateY(-100%);
}


/* slide-in ------------------------------------------------------------------*/
.logo-fade-in-appear {
    opacity: .01;
    transform: scale(.9, .9);
}

.logo-fade-in-appear-active {
    opacity: 1;
    transform: scale(1, 1);
}


/* Loader --------------------------------------------------------------------*/
.loader-fade-in-appear {
    opacity: .01;
}

.loader-fade-in-appear-active {
    opacity: .5;
}

.loader-fade-in-enter {
    opacity: .01;
}

.loader-fade-in-enter-active {
    opacity: 1;
}

.loader-fade-in-leave {
    opacity: .99;
}

.loader-fade-in-leave-active {
    opacity: 0;
}