/*! Transitions --------------------------------------------------------------*/

.fade-in-appear {
    opacity: .01;
    transition: opacity .5s ease-in;
}

.fade-in-appear-active {
    opacity: 1;
}

.fade-in-enter {
    opacity: .01;
    transition: opacity .5s ease-in;
}

.fade-in-enter-active {
    opacity: 1;
}

.fade-in-leave {
    opacity: .99;
    transition: opacity .5s ease-in;
}

.fade-in-leave-active {
    opacity: 0;
}
