/* Import Library */
@import "./_lib.css";

/* Import Elements */
@import "./_elements.css";

/*! App ---------------------------------------------------------------------*/
body {
    background: $background-color;
}

/* Page */
.page {
    @mixin clearfix;
    @mixin container-padding calc(10rem + $header-height), $outer-margin, 10rem;
}

/* Loader */
.loading-bar {
    top: 1rem;
}

.react-waypoint.page-top {
    background-color: red;
    width: 100%;
    height: 1px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
}