/* Import Library */
@import "./_lib.css";

/* Import Elements */
@import "./_elements.css";

body { background: $main-background-color; }

/* Header */
.site-nav {
    width: 100%;
    background: $gray;
    border-bottom: 1px solid $dark-gray;
    padding: $grid-padding;
}

/* Page */
.page {
    padding: $grid-padding;
}

.cover {
    background: green;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    transition-duration: $default-duration;
    transition-property: opacity;
    transition-timing-function: $default-ease;
    opacity: 0;
    pointer-events: none;

    &.visible {
        opacity: 1;
    }

    &.invisible {
        opacity: 0;
    }
}