@import './_lib.css';

/*! Art Page --------------------------------------------------------------*/

/* TODO - Rename project stuff & modularize commonalities w. design layout */
.art {
  .group {
    margin-top: 10vh;
  }

  .project-wrap {
    margin-bottom: 2.5rem;

    &:first-of-type {
      .project:before {
        content: '';
      }
    }
  }

  .project{
    &:before {
      content: none;
    }
  }
}
