@import './_lib.css';
@import "./_elements/transitions.css";

/*! Design Page --------------------------------------------------------------*/
.design .introduction {
  @mixin clearfix;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.projects {
  margin-top: 10vh;
}

.project {
  margin: 0 auto;
  position: relative;
  text-align: center;

  @media (--fablet)  {
    margin-bottom: 10vh;
  }

  &:before {
    background: $light-gray;
    border-bottom: 1px solid rgba(255, 255, 255, .9);
    content: "";
    height: 1px;
    left: 25%;
    position: absolute;
    top: 0;
    width: 25vw;
  }

  .responsive-container {
    display: block;
    position: relative;
  }
}

.project-title {
  @mixin responsive-font-size 1.6rem;
  background-color: $background-color;
  display: block;
  line-height: 1;
  letter-spacing: .05rem;
  margin: 0;
  padding: 0 1rem;
  transform: translateY(-53%);
  z-index: 4;
}

.imgLink {
}

.img-wrap {
  display: block;

  img {
    transition: width .6s;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    width: 25vw;
  }

  &.border {
    img {
      border: $lighter-border;
    }
  }
}


.expanded {
  .img-wrap img {
    width: 80vw;
  }
}