@import './_lib.css';
@import "./_elements/transitions.css";

/*! Design Page --------------------------------------------------------------*/
.design .introduction {
  @mixin clearfix;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.projects {
  margin: 6rem 0 0;
  position: relative;
  transition: transform .5s $bounce-in;
  /* since it's absolutely positioned, need to size at 100% - margins */
  /*width: calc(100% - ($page-margin * 2));*/
  width: 100%;

  @media (--fablet)  {
  position: absolute;
    /* Push the projects container halfway across the viewport to the right, */
    /* but take outer margins into consideration */
    transform: translateX(calc(50vw - $page-margin-f));
    /*width: 50vw;*/
  }

  @media (--tablet)  {
    transform: translateX(calc(50vw - $page-margin-t));
    /*width: 40vw;*/
    width: 80vw;
  }

  @media (--laptop)  {
    transform: translateX(calc(50vw - $page-margin-l));
    /*width: 35vw;*/
  }

  @media (--desktop) {
    transform: translateX(calc(50vw - $page-margin-d));
    /*width: 30vw;*/
  }

  @media (--highRes) {
    transform: translateX(calc(50vw - $page-margin-h));
    /*width: 25vw;*/
  }
}

.project {
  border-top: 1px solid $light-gray;
  margin-bottom: 6rem;
  text-align: center;
  transition:
    transform .5s $bounce-in,
    width .5s $bounce-in;
  /* move the thumbs back over half their own width to center them */
  transform:
    translateX(-50%)
    translate3d(0, 0, 0);
  width: 100%;

  &:before{
    content: '';
    width: 100%;
    border-bottom: 1px solid white;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.project-title {
  @mixin responsive-font-size 1.6rem;
  background-color: $background-color;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateY(-53%);
  z-index: 4;
}

.responsive-container {
    transform: scale(.4);

}

.img-wrap {
  width: 100%;

  &.border {
    img {
      /*todo: inset border */
      border: $lighter-border;
    }
  }

  img {
    transform-origin: top;
    transition:
      transform .5s $bounce-in;
    width: 100%;
  }
}