@import './_lib.css';

/*! Instagram Page -----------------------------------------------------------*/

.ig-page {
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: -1;
}

.ig-picture-list {
    line-height: 0;
    margin-bottom: 6rem;
    @mixin clearfix;
}

.ig-picture-li {
    display: block;

    @media (--fablet)  {
        float: left;
        width: 50%;

        &:nth-of-type(2n) {
            .ig-picture {
                border-right: 0;
            }
        }
    }
}

.ig-picture {
    outline: 1px solid $lightester-gray;
    width: 100%;
}


.ig-more {
    display: block;
    margin: 0 auto;
}

.ig-scroll-arrow {}