@import './_lib.css';

/*! Instagram Page -----------------------------------------------------------*/

.page.infinigram {
    padding: 0;
}

.ig-picture-list {
    line-height: 0;
    margin-bottom: 6rem;
    @mixin clearfix;
}

.ig-picture-li {
    display: block;
    overflow: hidden;
    border-right: 1px solid $lightester-gray;
    border-bottom: 1px solid $lightester-gray;

    @media (--fablet)  {
        float: left;
        width: 50vw;
        height: 50vw;

        &:nth-of-type(2n) {
            border-right: 0;
        }
    }
}

.ig-picture,
.ig-video {
    width: 50vw;
    height: 50vw;
    float: left;
}

.scroll-arrow {
    display: none;
}


.ig-waypoint {
    height: 1px;
    width: 100%;
    float: left;
}
/*.scroll-arrow {
    $size: 5rem;
    position: fixed;
    bottom: 5rem;
    width: $size;
    height: $size;
    left: calc(50% - ($size * .5));
    margin: 0;
    z-index: -1;

    &:after {
        content: '▾';
        font-size: 4rem;
        margin: auto;
        text-align: center;
        opacity: .2;
    }
}*/
