@import './_lib.css';

/*! Instagram Page -----------------------------------------------------------*/

.page.infinigram {
    padding: 0;
}

.ig-picture-list {
    line-height: 0;
    @mixin clearfix;
}

.ig-picture-li {
    display: block;
    overflow: hidden;
    border-right: 1px solid $lightester-gray;
    border-bottom: 1px solid $lightester-gray;

    @media (--fablet)  {
        float: left;
        width: 50vw;
        height: 50vw;

        &:nth-of-type(2n) {
            border-right: 0;
        }

        &:nth-last-of-type(2),
        &:nth-last-of-type(3) {
            border-bottom: none;
        }
    }
}

.ig-picture,
.ig-video {
    width: 50vw;
    height: 50vw;
    float: left;
}

/* Loader */
.loading-msg {
    bottom: 3rem;
    font-size: 0;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: transparent;

    &:after {
        @mixin mono-font 1;
        background: color(white a(70%));
        content: 'loading...';
        color: $black-07;
        font-weight: 300;
        letter-spacing: 1px;
        padding: .5rem 1rem;
        border-radius: .2rem;
        text-rendering: geometricPrecision;
        z-index: 100;
    }
}

.ig-waypoint {
    height: 0px;
    width: 100%;
    float: left;
}
