@import './_lib.css';

/*! Instagram Page -----------------------------------------------------------*/

.page.infinigram {
    padding: 0;
}

.ig-picture-list {
    line-height: 0;
    @mixin clearfix;
}

.ig-picture-li {
    border-bottom: 1px solid $lightester-gray;
    display: block;
    overflow: hidden;

    &:nth-last-of-type(2) {
        border-bottom: none;
    }

    @media (--fablet)  {
        border-right: 1px solid $lightester-gray;
        float: left;
        height: 50vw;
        width: 50vw;

        &:nth-of-type(2n) {
            border-right: 0;
        }

        &:nth-last-of-type(3) {
            border-bottom: none;
        }
    }

    @media (--highRes)  {
        width: 33.3vw;
        height: 33.3vw;

        /* restore 2n borders hidden by fablet */
        /* TODO: max-width media query for this -jrr */
        &:nth-of-type(2n) {
            border-right: 1px solid $lightester-gray;
        }

        &:nth-of-type(3n) {
            border-right: 0;
        }

        &:nth-last-of-type(2),
        &:nth-last-of-type(3) {
            border-bottom: none;
        }
    }
}


.ig-picture,
.ig-video {
    width: 100%;
    opacity: 0;

    @media (--fablet)  {
        width: 50vw;
        height: 50vw;
        float: left;
    }

    @media (--highRes)  {
        width: 33.3vw;
        height: 33.3vw;
    }
}

/* Loader */
.loading-msg {
    bottom: 3rem;
    font-size: 0;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: transparent;

    &:after {
        @mixin mono-font 1;
        background: color(white a(70%));
        content: 'loading...';
        color: $black-07;
        font-weight: 300;
        letter-spacing: 1px;
        padding: .5rem 1rem;
        border-radius: .2rem;
        text-rendering: geometricPrecision;
        z-index: 100;
    }
}

.ig-waypoint {
    height: 0px;
    width: 100%;
    float: left;
}
