@charset 'UTF-8';

@import 'lib';
@import 'elements';

body {
    background: $page-background-color;
}

// Header -------------------------------------------------------------------//
$logo-width: 80px;

.name { @include hidden-text; }

.logo {
    @include circle(
        $width: $logo-width,
        $border-width: 1px,
        $border-color: black(.5),
        $color: black(.7)
    );
    box-shadow: 0 0 0 2px $page-background-color,
                0 0 0 3px black(.25);
    display: block;
    font-weight: 400;
    margin: -($logo-width/2) auto 0;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: .4s;
    transition-property: background-color, transform, height;
    transition-timing-function: ease-out;
    z-index: index($elements, logo);

    &.clicked {
        height: 1rem;
        transform: translateY(-43vh);

        &:after {
            opacity: 0;
        }
    }

    &:after {
        color: white;
        content: 'j';
        font: {
            size: 4rem;
            weight: 400;
        }
        left: 44%;
        line-height: 0;
        position: absolute;
        text-rendering: geometricPrecision;
        top: 38%;
        opacity: 1;
        transition-property: opacity;
        transition-duration: .4s;
        transition-timing-function: ease-out;
    }

    &:hover {
        background: #000;
        background: red;
        background: red;
        cursor: pointer;
    }
}

nav a { margin-right: 1vw; }

// Content ------------------------------------------------------------------//
