@import '../_lib.css';
@import '../_elements/nav.css';
@import '../_elements/logo.css';

.header {
    position: relative;

    /* Not to be confused with phone, mobile is based on deviceWidth */
    &.mobile {
        /* background: red; */
    }

    &.tablet {
        .logo {
            width: calc($logo-size + .5);
            height: calc($logo-size + .5);
        }
    }
}