@import '../_lib.css';
@import '../_elements/nav.css';
@import '../_elements/logo.css';

.header {
    position: relative;

    &.tablet {
        .logo {
            width: calc($logo-size + .5);
            height: calc($logo-size + .5);
        }
    }
}