/* Grid */
$grid-padding: 1.5rem;

$outer-margin: 1.5rem;
$top-margin: 10rem;
$bottom-margin: 3rem;

/* Header */
$header-height: 7.3rem;

/* Page */
@define-mixin container-padding
    $t: 1rem,
    $r: $outer-margin,
    $b: 1rem,
    $l: $outer-margin {
    padding: $t $r $b $l;
    @media (--fablet)  { padding: $t calc($r + 1rem) $b calc($l + 1rem); }
    @media (--laptop)  { padding: $t calc($r + 3rem) $b calc($l + 3rem); }
    @media (--highRes) { padding: $t calc($r + 6rem) $b calc($l + 6rem); }
}

/* Vertical Rhythm */
$trailer: 1.5rem;

/* Borders */
$default-radius: .3rem;
$default-border: 1px solid $light-gray;

/* Transitions */
$default-duration: .3s;
$default-ease: ease-out;
$bounce-in: cubic-bezier(0.160, 0.035, 0.240, 1.295);

@define-mixin  default-transition {
    transition-duration: $default-duration;
    transition-timing-function: $default-ease;
}