/* Grid */
$grid-padding: 1.5rem;

/* Vertical Rhythm */
$trailer: 1.5rem;

/* Borders */
$default-radius: .3rem;
$default-border: 1px solid $light-gray;

/* Transitions */
$default-duration: .3s;
$default-ease: ease-out;
$bounce-in: cubic-bezier(0.160, 0.035, 0.240, 1.295);

@define-mixin  default-transition {
    transition-duration: $default-duration;
    transition-timing-function: $default-ease;
}