$serif-font-family: 'EB Garamond', serif;
$mono-font-family: 'Fira Mono', monospace, sans-serif;

$base-font-size: 10px;
$base-line-height: 1;

$base-font-size: 1.4;
$base-line-height: 1.5;

/* Responsive font-sizes */
@define-mixin responsive-font-size
    $fs: $base-font-size,
    $lh: $base-line-height {
    font-size: calc($fs * 1)rem; line-height: $lh;
    @media (--fablet)  { font-size: calc($fs * 1.2)rem; line-height: $lh; }
    @media (--laptop)  { font-size: calc($fs * 1.3)rem; line-height: $lh; }
    @media (--highRes) { font-size: calc($fs * 1.4)rem; line-height: $lh; }
}

@define-mixin serif-font {
    font-family: $serif-font-family;
    @mixin responsive-font-size;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga", "clig";
}

@define-mixin mono-font {
    font-family: $mono-font-family;
    @mixin responsive-font-size 1.2;
    font-variant-ligatures: no-common-ligatures;
    font-feature-settings: "liga" 0, "clig" 0;
}