$serif-font-family: 'EB Garamond', serif;
$sans-serif-font-family: 'Fira Sans', sans-serif;
$mono-font-family: 'Fira Mono', monospace, sans-serif;

$base-font-size: 10px;
$base-font-size: 1rem;
$base-line-height: 1;

/* Responsive font-sizes */
@define-mixin responsive-font-size
  $fs: $base-font-size,
  $lh: $base-line-height {
    font-size: calc($fs + .6);
    line-height: calc($lh + .5);

  @media (--tablet)  {
    font-size: calc($fs + .8);
    line-height: calc($lh + .5);
  }

  @media (--desktop) {
    font-size: calc($fs + .9);
    line-height: calc($lh + .5);
  }

  @media (--highRes) {
    font-size: calc($fs + 1);
    line-height: calc($lh + .6);
  }
}

@define-mixin serif-font $fs: $base-font-size {
  @mixin responsive-font-size $fs;
  font-family: $serif-font-family;
  font-feature-settings: "liga", "clig";
  font-variant-ligatures: common-ligatures;
}

@define-mixin sans-serif-font $fs: $base-font-size, $line-height: $base-line-height  {
  @mixin responsive-font-size $fs, $line-height;
  font-family: $sans-serif-font-family;
  font-feature-settings: "liga", "clig";
  font-variant-ligatures: common-ligatures;
}

@define-mixin mono-font $fs: $base-font-size {
  @mixin responsive-font-size $fs;
  font-family: $mono-font-family;
  font-feature-settings: "liga" 0, "clig" 0;
  font-variant-ligatures: no-common-ligatures;
}