@import "_color.css";

/* Grid */
$grid-padding: 1.5rem;
$top-margin: 10rem;
$bottom-margin: 3rem;

/* Accessible page-margin values */
$page-margin: 1.5rem;
$margin-modifier-f: 1rem;
$margin-modifier-t: 2rem;
$margin-modifier-l: 3rem;
$margin-modifier-d: 5rem;
$margin-modifier-h: 6rem;

$page-margin-f: calc($page-margin + $margin-modifier-f);
$page-margin-t: calc($page-margin + $margin-modifier-t);
$page-margin-l: calc($page-margin + $margin-modifier-l);
$page-margin-d: calc($page-margin + $margin-modifier-d);
$page-margin-h: calc($page-margin + $margin-modifier-h);

/* Header */
$header-height: 10vh;
$logo-size: 6.5rem;

/* Page */
@define-mixin container-padding
    $t: 1rem,
    $r: $page-margin,
    $b: 1rem,
    $l: $page-margin {
    padding: $t $r $b $l;

    @media (--fablet)  {
        padding: $t calc($r + $margin-modifier-f) $b calc($l + $margin-modifier-f);
    }

    @media (--tablet)  {
        padding: $t calc($r + $margin-modifier-t) $b calc($l + $margin-modifier-t);
    }

    @media (--laptop)  {
        padding: $t calc($r + $margin-modifier-l) $b calc($l + $margin-modifier-l);
    }

    @media (--desktop) {
        padding: $t calc($r + $margin-modifier-d) $b calc($l + $margin-modifier-d);
    }

    @media (--highRes) {
        padding: $t calc($r + $margin-modifier-h) $b calc($l + $margin-modifier-h);
    }
}

/* Responsive margin-right */
@define-mixin align-right
    $r: $page-margin {
    margin-right: $r;

    @media (--fablet)  {
        margin-right: calc($r + $margin-modifier-f)
    }

    @media (--tablet)  {
        margin-right: calc($r + $margin-modifier-t)
    }

    @media (--laptop)  {
        margin-right: calc($r + $margin-modifier-l)
    }

    @media (--desktop) {
        margin-right: calc($r + $margin-modifier-d)
    }

    @media (--highRes) {
        margin-right: calc($r + $margin-modifier-h)
    }
}

/* Vertical Rhythm */
$trailer: 1.5rem;

/* Borders */
$default-radius: .3rem;
$default-border: 1px solid $light-gray;
$lighter-border: 1px solid $lighter-gray;


@define-mixin inset-border {
  box-shadow: inset 0 0 0 1px $black-03;
}