// Helpers ------------------------------------------------------------------//
@mixin hidden-text {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
}

// Elements -----------------------------------------------------------------//
@mixin ellipse(
    $width: 200,
    $height: 100,
    $border-width: 0,
    $border-color: black,
    $color: black
    ) {
    width: $width - $border-width*2;
    height: $height - $border-width*2;
    background: $color;
    border: $border-width solid $border-color;

    @if ($width == $height) {
        border-radius: ($width/2);
    }

    @else {
        border-radius: ($width/2, $height/2);
    }
}

@mixin circle(
    $width: 100,
    $border-width: 0,
    $border-color: black,
    $color: black
) {
    @include ellipse(
        $width,
        $width,
        $border-width,
        $border-color,
        $color
    );
}